@{
    ViewBag.Title = "User Homepage";
}

<h1>Welcome back, [NAME].</h1>

<h3>You currently have 3 books checked out:</h3>
<table>
    <thead>
    <tr>
        <td>ISBN</td>
        <td>Title</td>
        <td>Author</td>
        <td>Due date</td>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>8172199980142</td>
            <td>The Joy of Potato Farming</td>
            <td>Jeremiah Smith</td>
            <td>30th August, 2017</td>
        </tr>
        <tr>
            <td>7619022899999</td>
            <td>101 Ways to Spice Up Your Casserole</td>
            <td>Quentin Auther</td>
            <td>25th August, 2017</td>
        </tr>
        <tr>
            <td>6666666666666</td>
            <td>A Beginner's Guide to Eating Sandwiches</td>
            <td>Steve Jenkins</td>
            <td>1st September, 2017</td>
        </tr>
    </tbody>
</table>
